#contact {
    text-align: center;
    z-index: 1;
    font-family: $secondaryFont;
    /*     form > * {
        display:block;
        margin: 20px;

    }
    form {
        button {
            border-radius: 10%;
            color: #fff;
        }
    } */
    h1 {
        font-size: 40px;
        font-weight: bold;
        cursor: default;
    }
    h2 {
        font-weight: bold;
        color: lighten(#30609A, 15%);
        cursor: default;
    }
    #followheading {
        color: #fff;
        font-size: 2rem;
        font-weight: bold;
    }
    a {
        padding: 20px;
        display: inline-block;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        p {
            display: inline;
            padding-left: 1rem;
        }
    }
    .fas {
        font-size: 40px;
        color: #fff;
        &:hover {
            color: $secondaryColor;
            @include easeOut;
        }
    }
    .fab {
        font-size: 40px;
        color: #fff;
        &:hover {
            color: $secondaryColor;
            @include easeOut;
        }
    }
}