#menubtn {
    position: fixed;
    z-index: 3;
    cursor: pointer;
    margin: 10px;
    padding: 15px 10px 10px 10px;
    background-color: #000;
    opacity: 0.8;
    /* move to right side */
    right: 35px;
    top: 35px;
    border-radius: 20%;
    @include easeOut;
    #btnline {
        width: 28px;
        height: 3px;
        background-color: #fff;
        margin: 0 0 5px 0;
    }
    /* transforming menubtn */
    &.close {
        z-index: 5;
        transform: rotate(90deg);
        @include easeOut;
        #btnline {
            /* line 1 */
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            /* line 2 */
            &:nth-child(2) {
                opacity: 0;
            }
            /* line 3 */
            &:nth-child(3) {
                transform: rotate(-45deg) translate(6.2px, -6px);
            }
        }
    }
}

.menu {
    @include easeOut;
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    opacity: 0.8;
    background-color: darken($bgColor, 10%);
    visibility: hidden;
    overflow: hidden;
    transform: translate3d(100%, 0, 0);
    /*     align-items: center;
    justify-content: center; */
    h1 {
        font-size: 50px;
        font-weight: bold;
        /*         border: #fff solid 2px; */
        cursor: default;
    }
    ul {
        width: 80%;
        height: 100vh;
        text-align: center;
        position: fixed;
        list-style-type: none;
        a {
            text-decoration: none;
            display: inline-block;
            color: $primaryColor;
            background-color: black;
            font-weight: bold;
            font-size: 25px;
            padding: 1rem;
            &:hover {
                color: $secondaryColor;
                transition: 0.5s ease-in;
            }
        }
    }
    .active {
        color: $secondaryColor;
    }
    &.show {
        visibility: visible;
        transform: translate3d(0, 0, 0);
        @include easeOut;
    }
    &-nav {
        padding-top: 30vh;
    }
}