#portfolio {
    z-index: 4;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    .nav-item {
        color: #4F86C8;
        font-weight: bold;
    }
    text-align: center;
    h1 {
        font-size: 45px;
        font-weight: bold;
        color: #000;
    }
    .panel {
        height: 300px;
        width: 300px;
        margin: 20px;
        display: inline-block;
        background-color: $primaryColor;
        text-align: center;
        border-radius: 50%;
        border: solid gray 1px;
        .overlay {
            opacity: 0;
        }
        &:hover .overlay {
            opacity: 0.5;
            border-radius: 50%;
            height: 100%;
            position: relative;
            background-color: #000;
            overflow: hidden;
            transition: 0.5s ease-in;
        }
        #border {
            padding: 20px;
        }
        &:hover {
            #border {
                border: #fff solid 2px;
                transform: rotateY(360deg);
                transition: linear 0.5s;
                @include easeOut;
            }
            #info {
                display: inherit;
                transform: translate(0, 100%);
                color: #fff;
                background-color: rgba(169, 169, 169, 0.7);
                visibility: visible;
                opacity: 1;
                animation: fadeIn 1.5s;
            }
        }
        #info {
            visibility: hidden;
        }
    }
    #portfolio {
        background-image: url(../../src/img/project2-3-min.jpg);
        background-size: 500px;
        background-position: center;
        background-repeat: repeat;
    }
    #templates {
        background-image: url(../../src/img/project7-2-min.png);
        background-size: 500px;
        background-position: top;
        background-repeat: repeat;
    }
    #invaders {
        background-image: url(../../src/img/project6-1-min.jpg);
        background-size: 490px;
        background-position: center;
        background-repeat: repeat;
    }
    #movieapp {
        background-image: url(../../src/img/Wrapped-min.png);
        background-size: 500px;
        background-position: center;
        background-repeat: repeat;
    }
    #cli {
        background-image: url(../../src/img/command-line-min.jpg);
        background-size: 500px;
        background-position: center;
        background-repeat: repeat;
    }
    #dateApp {
        background-image: url(../../src/img/Love-vs-Logic-min.jpg);
        background-size: 490px;
        background-position: center;
        background-repeat: repeat;
    }
    #pizzaApp {
        background-image: url(../../src/img/GourmetPizzaCo-min.jpg);
        background-size: 350px;
        background-position: center;
        background-repeat: no-repeat;
    }
    #cueApp {
        background-image: url(../../src/img/cueclub-min.jpg);
        background-size: 480px;
        background-position: left;
        background-repeat: repeat;
    }
    #psWork {
        background-image: url(../../src/img/item-6-min.jpg);
        background-size: 370px;
        background-position: center top;
        background-repeat: repeat;
    }
}

.carousel-indicators .active {
    background-color: #3C78C1;
}

.carousel-indicators li {
    background-color: lighten(gray, 10%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}